<div id="sectie-dagstaat">
            <div class="datum-navigatie">
                <button onclick="veranderDatum(-1)">◀<span class="nav-label"> Vorige Dag</span></button>
                <input type="date" id="centraleDatum" onchange="laadMetingen()">
                <button onclick="veranderDatum(1)"><span class="nav-label">Volgende Dag </span>▶</button>
            </div>

            <div class="menu-tabs" id="waterbeheer-tabs">
                <button class="tab-btn actief" id="tab-grote-baden" onclick="wisselBadPagina('grote-baden')">Diep / Ondiep</button>
                <button class="tab-btn" id="tab-peuterbad" onclick="wisselBadPagina('peuterbad')">Peuterbad</button>
                <button class="tab-btn" id="tab-logboek" onclick="wisselBadPagina('logboek')">Logboek</button>
                <button class="tab-btn" id="tab-acties" onclick="wisselBadPagina('acties')">Acties</button>
            </div>

            <div id="waterbeheer-grote-baden-content" style="display: none;">
                <div class="subtab-nav">
                    <button class="subtab-btn actief" id="subtab-meetwaarden" onclick="wisselSubtab('meetwaarden')">Meetwaarden</button>
                    <button class="subtab-btn" id="subtab-verbruik" onclick="wisselSubtab('verbruik')">Verbruik</button>
                    <button class="subtab-btn" id="subtab-verwarmingssysteem" onclick="wisselSubtab('verwarmingssysteem')">Verwarmingssysteem</button>
                    <button class="subtab-btn" id="subtab-bezoekers" onclick="wisselSubtab('bezoekers')">Bezoekers</button>
                </div>

                <div id="subtab-meetwaarden-content">
                    <div class="categorie-box" id="categorie-opname-meetwaarden">
                        <h3>Opname meetwaarden</h3>
                        <table class="categorie-tabel">
                            <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Diep</th>
                                    <th>Ondiep</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>pH</td>
                                    <td><input type="number" id="ph-diep" step="0.01" data-param="ph_waarde" oninput="valideerVeld(this, 'ph_waarde')"></td>
                                    <td><input type="number" id="ph-ondiep" step="0.01" data-param="ph_waarde" oninput="valideerVeld(this, 'ph_waarde')"></td>
                                </tr>
                                <tr>
                                    <td>Chloor</td>
                                    <td><input type="number" id="chloor-diep" step="0.01" data-param="chloor_waarde" oninput="valideerVeld(this, 'chloor_waarde')"></td>
                                    <td><input type="number" id="chloor-ondiep" step="0.01" data-param="chloor_waarde" oninput="valideerVeld(this, 'chloor_waarde')"></td>
                                </tr>
                                <tr>
                                    <td>Temperatuur</td>
                                    <td><input type="number" id="temp-diep" step="0.1" data-param="watertemperatuur" oninput="valideerVeld(this, 'watertemperatuur')"></td>
                                    <td><input type="number" id="temp-ondiep" step="0.1" data-param="watertemperatuur" oninput="valideerVeld(this, 'watertemperatuur')"></td>
                                </tr>
                                <tr>
                                    <td>Flow</td>
                                    <td><input type="number" id="flow-diep" data-param="flow_diep" oninput="valideerVeld(this, 'flow_diep')"></td>
                                    <td><input type="number" id="flow-ondiep" data-param="flow_ondiep" oninput="valideerVeld(this, 'flow_ondiep')"></td>
                                </tr>
                                <tr>
                                    <td>Filterdruk In</td>
                                    <td><input type="number" id="filter-in-diep" step="0.01" data-param="filter_druk_in" oninput="valideerVeld(this, 'filter_druk_in')"></td>
                                    <td><input type="number" id="filter-in-ondiep" step="0.01" data-param="filter_druk_in" oninput="valideerVeld(this, 'filter_druk_in')"></td>
                                </tr>
                                <tr>
                                    <td>Filterdruk Uit</td>
                                    <td><input type="number" id="filter-uit-diep" step="0.01" data-param="filter_druk_uit" oninput="valideerVeld(this, 'filter_druk_uit')"></td>
                                    <td><input type="number" id="filter-uit-ondiep" step="0.01" data-param="filter_druk_uit" oninput="valideerVeld(this, 'filter_druk_uit')"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="subtab-verbruik-content" style="display: none;">
                    <div class="categorie-box" id="categorie-water">
                        <h3>Water (m³)</h3>
                        <table class="categorie-tabel verbruik-tabel">
                            <thead>
                                <tr><th></th><th>Stand</th><th>Verbruik</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>Diep</b></td>
                                    <td><input type="number" step="0.01" id="water-diep"   data-param="water_diep"   oninput="valideerVeld(this,'water_diep')"></td>
                                    <td><input type="text" id="water-diep-verbruik"   disabled style="background-color:#f0f0f0; cursor:not-allowed;"></td>
                                </tr>
                                <tr>
                                    <td><b>Ondiep</b></td>
                                    <td><input type="number" step="0.01" id="water-ondiep" data-param="water_ondiep" oninput="valideerVeld(this,'water_ondiep')"></td>
                                    <td><input type="text" id="water-ondiep-verbruik" disabled style="background-color:#f0f0f0; cursor:not-allowed;"></td>
                                </tr>
                                <tr>
                                    <td><b>Totaal</b></td>
                                    <td><input type="number" step="0.01" id="water-totaal" data-param="water_totaal" oninput="valideerVeld(this,'water_totaal')"></td>
                                    <td><input type="text" id="water-totaal-verbruik" disabled style="background-color:#f0f0f0; cursor:not-allowed;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="categorie-box" id="categorie-elektriciteit-gas">
                        <h3>Elektriciteit en gas</h3>
                        <table class="categorie-tabel verbruik-tabel">
                            <thead>
                                <tr><th></th><th>Stand</th><th>Verbruik</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>Elektriciteit Nacht</b></td>
                                    <td><input type="number" id="elektriciteit-nacht" data-param="elektriciteit_nacht" oninput="valideerVeld(this,'elektriciteit_nacht')"></td>
                                    <td><input type="text" id="elektriciteit-nacht-verbruik" disabled style="background-color:#f0f0f0; cursor:not-allowed;"></td>
                                </tr>
                                <tr>
                                    <td><b>Elektriciteit Dag</b></td>
                                    <td><input type="number" id="elektriciteit-dag" data-param="elektriciteit_dag" oninput="valideerVeld(this,'elektriciteit_dag')"></td>
                                    <td><input type="text" id="elektriciteit-dag-verbruik" disabled style="background-color:#f0f0f0; cursor:not-allowed;"></td>
                                </tr>
                                <tr>
                                    <td><b>Gas</b></td>
                                    <td><input type="number" id="gas" data-param="gas" oninput="valideerVeld(this,'gas')"></td>
                                    <td><input type="text" id="gas-verbruik" disabled style="background-color:#f0f0f0; cursor:not-allowed;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="categorie-box" id="categorie-chemicalien">
                        <h3>Chemicaliën</h3>
                        <table class="categorie-tabel verbruik-tabel">
                            <thead>
                                <tr><th></th><th>Stand</th><th>Verbruik</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>Floculant</b></td>
                                    <td><input type="text" id="floculant"></td>
                                    <td><input type="text" id="floculant-verbruik" disabled style="background-color:#f0f0f0; cursor:not-allowed;"></td>
                                </tr>
                                <tr>
                                    <td><b>Chloor</b></td>
                                    <td><input type="text" id="chemicalien-chloor"></td>
                                    <td><input type="text" id="chemicalien-chloor-verbruik" disabled style="background-color:#f0f0f0; cursor:not-allowed;"></td>
                                </tr>
                                <tr>
                                    <td><b>Zwavelzuur</b></td>
                                    <td><input type="text" id="chemicalien-zwavelzuur"></td>
                                    <td><input type="text" id="chemicalien-zwavelzuur-verbruik" disabled style="background-color:#f0f0f0; cursor:not-allowed;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="subtab-bezoekers-content" style="display: none;">
                    <div class="categorie-box">
                        <h3>Bezoekers</h3>
                        <table class="categorie-tabel">
                            <tbody>
                                <tr>
                                    <td><b>Aantal bezoekers vandaag</b></td>
                                    <td><input type="text" id="bezoekers-vandaag-display" disabled
                                            style="background-color:#f0f0f0; cursor:not-allowed; width:120px;"></td>
                                </tr>
                                <tr>
                                    <td><b>Bezoekers sinds spoelbeurt Diep</b></td>
                                    <td><input type="text" id="bezoekers-spoelbeurt-diep-display" disabled
                                            style="background-color:#f0f0f0; cursor:not-allowed; width:120px;"></td>
                                </tr>
                                <tr>
                                    <td><b>Bezoekers sinds spoelbeurt Ondiep</b></td>
                                    <td><input type="text" id="bezoekers-spoelbeurt-ondiep-display" disabled
                                            style="background-color:#f0f0f0; cursor:not-allowed; width:120px;"></td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="font-size:13px; color:#666; margin-top:10px;">
                            Automatisch berekend op basis van dagelijkse bezoekers. Telt opnieuw vanaf de dag na de laatste spoelbeurt.
                        </p>
                    </div>
                </div>

                <div id="subtab-verwarmingssysteem-content" style="display: none;">
                    <div class="categorie-box" id="categorie-verwarmingssysteem">
                        <h3>Verwarmingssysteem</h3>
                        <fieldset style="border: 1px solid #dee2e6; border-radius: 6px; padding: 10px 16px 14px; margin-bottom: 14px; display: inline-block;">
                            <legend style="font-weight: 600; font-size: 14px; padding: 0 8px; color: #333;">Ketel status</legend>
                            <div style="display: flex; gap: 12px; flex-wrap: wrap;">
                                <label class="checkbox-item"><input type="checkbox" id="systeem-status-1"> Ketel 1 ok</label>
                                <label class="checkbox-item"><input type="checkbox" id="systeem-status-2"> Ketel 2 ok</label>
                                <label class="checkbox-item"><input type="checkbox" id="systeem-status-3"> Ketel 3 ok</label>
                                <label class="checkbox-item"><input type="checkbox" id="systeem-status-4"> Ketel 4 ok</label>
                            </div>
                        </fieldset>
                        <div style="display: flex; flex-direction: column; gap: 8px;">
                            <label class="checkbox-item"><input type="checkbox" id="systeem-druk-ok"> Systeem druk ok</label>
                            <label class="checkbox-item"><input type="checkbox" id="visuele-inspectie"> Visuele inspectie</label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="waterbeheer-peuterbad-content" style="display: none;">
                <div class="subtab-nav">
                    <button class="subtab-btn actief" id="subtab-peuterbad-meetwaarden" onclick="wisselPeuterbadSubtab('meetwaarden')">Meetwaarden</button>
                    <button class="subtab-btn"        id="subtab-peuterbad-verbruik"    onclick="wisselPeuterbadSubtab('verbruik')">Verbruik</button>
                </div>

                <div id="peuterbad-meetwaarden-content">
                    <div class="categorie-box">
                        <h3>Opname meetwaarden</h3>
                        <table class="categorie-tabel">
                            <thead>
                                <tr><th>Parameter</th><th>Waarde</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>pH</td>
                                    <td><input type="number" id="peuterbad-ph" step="0.01" data-param="ph_waarde" oninput="valideerVeld(this,'ph_waarde')"></td>
                                </tr>
                                <tr>
                                    <td>Chloor</td>
                                    <td><input type="number" id="peuterbad-chloor" step="0.01" data-param="chloor_waarde" oninput="valideerVeld(this,'chloor_waarde')"></td>
                                </tr>
                                <tr>
                                    <td>Filterdruk</td>
                                    <td><input type="number" id="peuterbad-filterdruk" step="0.01" data-param="filter_druk_peuterbad" oninput="valideerVeld(this,'filter_druk_peuterbad')"></td>
                                </tr>
                                <tr>
                                    <td>Flow</td>
                                    <td><input type="number" id="peuterbad-flow" data-param="flow_peuterbad" oninput="valideerVeld(this,'flow_peuterbad')"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="peuterbad-verbruik-content" style="display:none;">
                    <div class="categorie-box">
                        <h3>Water</h3>
                        <table class="categorie-tabel verbruik-tabel">
                            <thead>
                                <tr><th></th><th>Stand</th><th>Verbruik</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>Water (m³)</b></td>
                                    <td><input type="number" step="0.01" id="peuterbad-water" data-param="water_peuterbad" oninput="valideerVeld(this,'water_peuterbad')"></td>
                                    <td><input type="text" id="peuterbad-water-verbruik" disabled style="background-color:#f0f0f0; cursor:not-allowed;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="categorie-box">
                        <h3>Chemicaliën</h3>
                        <table class="categorie-tabel verbruik-tabel">
                            <thead>
                                <tr><th></th><th>Stand</th><th>Verbruik</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>Chloor</b></td>
                                    <td><input type="text" id="peuterbad-chemicalien-chloor"></td>
                                    <td><input type="text" id="peuterbad-chemicalien-chloor-verbruik" disabled style="background-color:#f0f0f0; cursor:not-allowed;"></td>
                                </tr>
                                <tr>
                                    <td><b>Zwavelzuur</b></td>
                                    <td><input type="text" id="peuterbad-chemicalien-zwavelzuur"></td>
                                    <td><input type="text" id="peuterbad-chemicalien-zwavelzuur-verbruik" disabled style="background-color:#f0f0f0; cursor:not-allowed;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="waterbeheer-acties-content" style="display:none;">
                <div id="acties-tab-inhoud"></div>
            </div>

            <div id="waterbeheer-logboek-content" style="display:none;">
                <div id="logboek-blokken"></div>
                <div class="actie-container" style="justify-content:flex-start; margin-top:12px;">
                    <button class="btn-centraal-opslaan" onclick="voegLogboekBlokToe()">+ Nieuw tekstblok</button>
                    <span id="logboekSaveStatus" style="font-size:14px; font-style:italic; margin-left:12px;"></span>
                </div>
            </div>

            <div class="subtab-nav" id="coordinatoren-subtab-nav" style="display:none;">
                <button class="subtab-btn actief" id="subtab-coord-metingen"    onclick="wisselCoordSubtab('metingen')">Metingen</button>
                <button class="subtab-btn" id="subtab-coord-checklist"          onclick="wisselCoordSubtab('checklist')">Checklijst</button>
                <button class="subtab-btn" id="subtab-coord-daggegevens"        onclick="wisselCoordSubtab('daggegevens')">Temperatuur &amp; Bezoekers</button>
                <button class="subtab-btn" id="subtab-coord-logboek"            onclick="wisselCoordSubtab('logboek')">Logboek</button>
            </div>

            <div id="coordinatoren-blokken-content" style="display: none;"></div>

            <div id="coordinatoren-logboek-content" style="display:none;">
                <div id="coordinatoren-logboek-blokken"></div>
                <div class="actie-container" style="justify-content:flex-start; margin-top:12px;">
                    <button class="btn-centraal-opslaan" onclick="voegLogboekBlokToe('coordinatoren-logboek-blokken', '/api/coordinatoren/logboek')">+ Nieuw tekstblok</button>
                </div>
            </div>

            <div id="coordinatoren-daggegevens-content" style="display: none;">
                <div class="categorie-box">
                    <h3>Temperatuur &amp; Bezoekers</h3>
                    <div style="display:flex; flex-wrap:wrap; gap:24px; align-items:flex-start;">
                        <div class="veld-item">
                            <label for="coord-lucht-temp">Luchttemperatuur (°C)</label>
                            <input type="number" step="0.1" id="coord-lucht-temp" placeholder="bijv. 18.5">
                        </div>
                        <div class="veld-item">
                            <label for="coord-bezoekers-vandaag">Aantal bezoekers vandaag</label>
                            <input type="number" id="coord-bezoekers-vandaag" min="0" placeholder="bijv. 120">
                        </div>
                    </div>
                </div>
            </div>

            <div id="coordinatoren-checklist-content" style="display: none;">
                <div class="categorie-box">
                    <h3>Proefdraaien bij geen gebruik</h3>
                    <div style="display:flex; flex-direction:column; gap:10px;">
                        <label class="checkbox-item"><input type="checkbox" id="proef-waterspeel"> Waterspeel toestellen</label>
                        <label class="checkbox-item"><input type="checkbox" id="proef-spraypark"> Spraypark</label>
                        <label class="checkbox-item"><input type="checkbox" id="proef-douches"> Bad douches</label>
                        <label class="checkbox-item"><input type="checkbox" id="proef-glijbaan"> Glijbaan</label>
                    </div>
                </div>
            </div>

            <div id="tables-content" style="display: none;">
                <table>
                    <thead id="tabelKop"></thead>
                    <tbody id="dagstaatTbody"></tbody>
                </table>
            </div>

            <div class="actie-container" style="justify-content: flex-start; min-height: 28px;">
                <span id="autoSaveStatus" style="font-size:14px; font-style:italic;"></span>
            </div>
        </div>
