<div id="sectie-limieten" style="display: none;">
            <h2>Centrale Richtwaarden & Limieten</h2>
            <div id="limietenGroepen"></div>
            <div class="actie-container" style="justify-content: flex-start; min-height: 28px;">
                <button class="btn-centraal-opslaan" onclick="laadStandaardLimieten()">Standaardwaarden</button>
                <span id="limietenSaveStatus" style="font-size:14px; font-style:italic; margin-left:12px;"></span>
            </div>
        </div>
