<div id="sectie-limieten" style="display: none;">
            <h2>Centrale Richtwaarden & Limieten</h2>
            <table>
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Minimum Waarde</th>
                        <th>Maximum Waarde</th>
                    </tr>
                </thead>
                <tbody id="limietenTbody"></tbody>
            </table>
            <div class="actie-container">
                <button class="btn-centraal-opslaan" onclick="verwerkCentraleLimietenOpslaan()">Opslaan</button>
            </div>
        </div>
