<div id="scherm-login" class="login-box" style="display: none;">
        <img src="/images/debercken-site.png" alt="Logo zwembad De Bercken" class="login-logo">
        <h2>Inloggen Dagstaat</h2>
        <div id="login-fout" class="fout" style="margin-bottom:10px;"></div>
        <input type="text" id="loginUsername" placeholder="Inlognaam" required>
        <input type="password" id="loginPassword" placeholder="Wachtwoord" required>
        <button onclick="verwerkLogin()">Inloggen</button>
    </div>
